.bookticket-box{
    width: 634px;
    min-height: 606px;
    padding: 20px 50px 30px 50px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    .book-title{
        font-size: 24px;
        font-family: '黑体', sans-serif;
        font-weight: bold;
        line-height: 44px;
        height: 50px;
        span{
            position: relative;
            top: 3px;
            font-size: 44px;
            margin-right: 5px;
        }
    }
    .book-tree{
        position: relative;
        padding-top: 10px;
        border-bottom: 1px dashed #ccc;
        color: #999;
        ul{
            width: 196px;
            position: absolute;
            top: -36px;
            right: 0;
            display: flex;
            justify-content: space-between;
            li{
                position: relative;
                margin-left: 15px;
                display: flex;
                flex-wrap: wrap;
                width: 30px;
                justify-content: center;
                span{
                    height: 40px;
                    line-height: 40px;
                }
                i{
                    position: relative;
                    width: 12px;
                    height: 12px;
                    border-radius: 12px;
                    border: 1px solid #999;
                    box-sizing: border-box;
                }
                i::before{
                    content: '';
                    position: absolute;
                    left: 2px;
                    top: 2px;
                    width: 6px;
                    height: 6px;
                    border-radius: 6px;
                    background-color: #999;
                }
            }
            .cur{
                i{
                    border: 1px solid #de1721;
                }
                i::before{
                    background-color: #de1721;
                }
            }
        }
    }
    .book-tip{
        font-size: 18px;
        font-weight: bold;
        line-height: 45px;
        height: 45px;
    }
    .book-airflight-way{
        display: flex;
        .btn-way{
            position: relative;
            width: 170px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            border-radius: 4px;
            background-color: #bfbfbf;
            color: #fff;
            font-size: 18px;
            box-sizing: border-box;
            cursor: pointer;
            user-select: none;
            margin-left: 12px;
        }
        .btn-way:first-child{
            margin-left: 0;
        }
        .cur{
            background-color: #E01114;
        }
        .cur::after{
            content: '';
            border-width: 10px 10px 0 10px;
            border-style: solid;
            border-color: #E01114 transparent #E01114 transparent;
            position: absolute;
            left: 75px;
            top: 44px;
        }
    }
    .book-form-box{
        margin-top: 15px;
        padding: 0;
        .book-change-org{
            height: 20px;
            line-height: 20px;
            display: flex;
            padding: 5px 0 10px 21px;
            .book-btn{
                position: relative;
                margin-right: 15px;
                padding-left: 20px;
                cursor: pointer;
                user-select: none;
            }
            .book-btn::before{
                content: '';
                position: absolute;
                left: 0;
                top: 4px;
                width: 12px;
                height: 12px;
                border: 1px solid #888;
                box-sizing: border-box;
                border-radius: 12px;
            }
            .cur::before{
                border: 1px solid #de1721;
            }
            .cur::after{
                content: '';
                position: absolute;
                left: 3px;
                top: 7px;
                width: 6px;
                height: 6px;
                background-color: #de1721;
                box-sizing: border-box;
                border-radius: 6px;
            }
        }
        .form-txt-box{
            position: relative;
            height: 60px;
            border: 1px solid #999;
            border-radius: 5px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            padding: 0 50px;
            white-space: nowrap;
            cursor: pointer;
            line-height: 15px;
            span{
                padding-right: 10px;
                box-sizing: border-box;
                border-right: 1px solid #B6B6B6;
            }
            .txt{
                border: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
                padding-left: 10px;
                box-sizing: border-box;
                font-family: "思源黑体", SourceHanSansCN, sans-serif;
            }
            .back-date{
                display: flex;
                flex: 1;
                height: 100%;
                align-items: center;
                box-sizing: border-box;
                padding-left: 40px;
                background: url('@@imgpath/icon_change.png') no-repeat left center;
            }
            .start-date{
                display: flex;
                flex: 1;
                height: 100%;
                align-items: center;
                box-sizing: border-box;
            }
            .ddl-city{
                position: absolute;
                left: 0;
                top: 56px;
                z-index: 211;
                width: 534px;
                height: 0;
                max-height: 300px;
                box-sizing: border-box;
                background-color: #fff;
                border-top: 0;
                overflow: hidden;
                transition: all .2s;
                li{
                    height: 32px;
                    line-height: 32px;
                    text-align: left;
                    font-size: 14px;
                    padding-left: 125px;
                    overflow: hidden;
                }
                li:hover{
                    background-color: #efefef;
                }
                li.cur{
                    background-color: #e01114;
                    color: #fff;
                }
            }
            .ddl-city.cur{
                border: 1px solid #999;
                top: 57px;
                left: -1px;
                height: auto;
                overflow: auto;
            }
        }
        .form-txt-box::before{
            content: '';
            position: absolute;
            top: 16px;
            right: 14px;
            width: 28px;
            height: 28px;
            border-radius: 28px;
            background-color: #f1f1f1;
        }
        .form-txt-box::after{
            content: '';
            position: absolute;
            top: 23px;
            right: 23px;
            width: 8px;
            height: 8px;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transform: rotate(45deg);
        }
        .ddl-date::before{
            background: none;
        }
        .ddl-date::after{
            border: 0;
            right: 10px;
            top: 10px;
            width: 38px;
            height: 40px;
            transform: rotate(0deg);
            background: url('@@imgpath/icon_date.png') no-repeat center;
        }
        .ddl-start{
            background: url('@@imgpath/icon_start.png') no-repeat left center;
            background-position: 12px;
        }
        .ddl-end{
            background: url('@@imgpath/icon_end.png') no-repeat left center;
            background-position: 12px;
        }
        .ddl-date{
            background: url('@@imgpath/icon_sdate.png') no-repeat left center;
            background-position: 12px;
        }
        .ddl-more{
            background: url('@@imgpath/icon_more.png') no-repeat left center;
            background-position: 12px;
            .ddl-cag-box{
                position: absolute;
                left: -1px;
                top: 61px;
                z-index: 211;
                width: 534px;
                height: 0px;
                box-sizing: border-box;
                background-color: #fff;
                border-top: 0;
                overflow: hidden;
                transition: all .2s;
                li{
                    height: 32px;
                    line-height: 32px;
                    text-align: center;
                    font-size: 16px;
                }
                li:hover{
                    background-color: #efefef;
                }
                li.cur{
                    background-color: #e01114;
                    color: #fff;
                }
            }
            .ddl-cag-box.cur{
                display: block;
                border: 1px solid #999;
                top: 57px;
                height: 96px;
            }
        }
    }
    .book-btns{
        margin-top: 15px;
        display: flex;
        .btn-search{
            width: 228px;
            height: 48px;
            line-height: 48px;
            border-radius: 4px;
            font-size: 18px;
            text-align: center;
            color: #fff;
            background-color: #de1721;
            box-sizing: border-box;
            margin-right: 20px;
            cursor: pointer;
            user-select: none;
        }
        .btn-search:active{
            background-color: #f00000;
        }
        .book-directflight{
            height: 20px;
            line-height: 20px;
            display: flex;
            padding: 10px 21px;
            .book-btn{
                position: relative;
                margin-right: 15px;
                padding-left: 20px;
                cursor: pointer;
                user-select: none;
            }
            .book-btn::before{
                content: '';
                position: absolute;
                left: 0;
                top: 4px;
                width: 12px;
                height: 12px;
                border: 1px solid #888;
                box-sizing: border-box;
            }
            .cur::before{
                border: 1px solid #de1721;
                background: url('@@imgpath/icon-dui.png') no-repeat top center;
                background-size: 8px;
                background-color: #de1721;
            }
        }
    }
    .book-dingzhi{
        display: none;
        .tip{
            line-height: 48px;
            height: 48px;
            font-size: 16px;
            color: #666;
        }
        .txt-content{
            border: 1px solid #888;
            width: 100%;
            height: 120px;
            border-radius: 5px;
            resize: none;
            padding: 10px;
            line-height: 20px;
            color: #666;
            box-sizing: border-box;
        }
        .btn{
            width: 300px;
            height: 50px;
            line-height: 50px;
            margin: 25px auto 0 auto;
            font-size: 18px;
            border-radius: 4px;
        }
        .txts-box{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            div{
                width: 252px;
                height: 50px;
                line-height: 50px;
                border: 1px solid #888;
                display: flex;
                white-space: nowrap;
                border-radius: 5px;
                overflow: hidden;
                margin-top: 25px;
                padding-left: 10px;
                box-sizing: border-box;
                color: #666;
                input{
                    width: 100%;
                    border: 0;
                    padding-left: 10px;
                    box-sizing: border-box;
                    color: #666;
                }
            }
        }
    }
}