BODY {
	FONT-SIZE: 9pt; MARGIN-TOP: 5px;
	font-family : 宋体;
}
TH {
	FONT-SIZE: 9pt;
	font-family : 宋体;
}
TD {
	FONT-SIZE: 9pt;
	font-family : 宋体;
}
A:link {
	COLOR: #0018A2; FONT-FAMILY: 宋体; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
 A:active {
 	COLOR: Gray; FONT-FAMILY: 宋体; FONT-SIZE: 9pt; TEXT-DECORATION: none
 }
A:hover {
	COLOR: Gray; TEXT-DECORATION: underline
}
A.A-color1-12pt{
   COLOR: #FDB664; FONT-FAMILY: 宋体; FONT-SIZE: 12pt; TEXT-DECORATION: none
 }
 A.A-color1-9pt{
   COLOR: #FDB664; FONT-FAMILY: 宋体; FONT-SIZE: 9pt; TEXT-DECORATION: none
 }
.color1 {
	COLOR: #FF9C31
}
.color2 {
	COLOR: #0018A2
}
.red {
	FONT-FAMILY: 宋体; COLOR: #ff0000;FONT-SIZE: 9pt
}
.big {
	FONT-FAMILY: 宋体; FONT-SIZE: 11pt
}
.class2{
   COLOR: #FDB664; FONT-FAMILY: 宋体; FONT-SIZE: 12pt; TEXT-DECORATION: none
 }
  A.A-class4{
   COLOR: #0018A2; FONT-FAMILY: 宋体; FONT-SIZE: 9pt; TEXT-DECORATION: none
 }
.lineheight1 {
	LINE-HEIGHT: 12pt
}
  A.A-class5{
   COLOR: #FFFFFF; FONT-FAMILY: 宋体; FONT-SIZE: 9pt; TEXT-DECORATION: none
 }
  A.A-class4-big{
   COLOR: Black; FONT-FAMILY: 宋体; FONT-SIZE: 11pt; TEXT-DECORATION: none
 }
 .font-Verdana-big{
	FONT-FAMILY: 宋体; FONT-SIZE: 13.5pt
}
 .font-Verdana-big-bold{
	FONT-FAMILY: 宋体; FONT-SIZE: 13.5pt;
	font :  bold;
}
 .font-Verdanal{
	FONT-FAMILY: 宋体; FONT-SIZE: 9pt;
}
.lblue_title {  font-size: 19pt; color: blue; font-weight: bolder}
.boldt {  font-family: "宋体"; font-size: 11pt; font-weight: bold}
.blue_title {  font-size: 15pt; color: blue; font-weight: bolder}
.title {  font-family: "宋体"; font-size: 11pt}
select {  font-family: 宋体; font-size: 9pt; line-height: 10pt; border: 1px #999999 solid; border-color: #999999 solid; background-color: #FFFFFF; color: #404040}
